@page
@model Hotel_Reception_PROIECT.Pages.Cazari.IndexModel

@{
    ViewData["Title"] = "Cazări Hotel";
}

<h1>Cazări Efectuate</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cazare[0].NumarCamera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cazare[0].Etaj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cazare[0].TipCamera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cazare[0].Disponibilitate)
            </th>
            <th>
                <a asp-page="Create" class="btn btn btn-success">
                    Cazare Nouă
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cazare) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumarCamera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etaj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipCamera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponibilitate)
            </td>
            <td>
                    <a asp-page="./Edit" class="btn btn btn-success" asp-route-id="@item.ID">Editare</a> 
                    <a asp-page="./Details" class="btn btn btn-success" asp-route-id="@item.ID">Detalii</a>
                    <a asp-page="./Delete" class="btn btn btn-success" asp-route-id="@item.ID">Anulare</a>
            </td>
        </tr>
}
    </tbody>
</table>
