@page
@model Hotel_Reception_PROIECT.Pages.Parcari.IndexModel

@{
    ViewData["Title"] = "Parcări";
}

<h1>Locuri Parcare</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Parcare[0].Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parcare[0].NumarCamera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parcare[0].LocParcareOcupat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parcare[0].DataOcuparii)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parcare[0].DataEliberarii)
            </th>
            <th>
                <a asp-page="Create" class="btn btn btn-success">
                    Înregistrare Nouă
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Parcare) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumarCamera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocParcareOcupat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataOcuparii)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEliberarii)
            </td>
            <td>
                    <a asp-page="./Edit" class="btn btn btn-success" asp-route-id="@item.ID">Editare</a>
                    <a asp-page="./Details" class="btn btn btn-success" asp-route-id="@item.ID">Detalii</a>
                    <a asp-page="./Delete" class="btn btn btn-success" asp-route-id="@item.ID">Anulare</a>
            </td>
        </tr>
}
    </tbody>
</table>
